/* Banner Styles */
.banner {
  text-align: center;
  padding: 100px 20px;
  /* background: url("../Resources/homepage_images/banner_pic.jpg") no-repeat center center; */
  background-color: #071952;
  background-size: cover;
  color: #fff;
}


.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #37b7c3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* About Section */
.about-section {
  padding: 40px 20px;
  background: #fff;
}

.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.about-section p {
  max-width: 800px;
  margin: 0 auto 20px;
  line-height: 1.6;
}

/* Content Section */
.content-section {
  padding: 40px 20px;
  background: #f1f1f1;
}

.content-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
  justify-content: center;
}

.content-image {
  flex: 1 1 300px;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-text {
  flex: 1 1 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-text p {
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Cards Section */

.card-link {
  text-decoration: none;
  color: inherit;
}
.cards-section .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards-section .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards-section h1 {
  text-align: center;
  margin-bottom: 40px;
}

.card-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 0;
}

.card-image {
  width: 150px;
  height: auto;
  margin-left: 20px;
  border-radius: 10px;
}