body {
    margin: auto;
    font-family: sans-serif;
}

li {
    display: inline;
    padding: 10px 20px;
    background-color: #37b7c3b6;
    border-radius: 50px;
    margin: 20px 20px;
    color: #071952;
}

li a {
    text-decoration: none;
}

li:hover {
    color: #37b7c3b6;
    background-color: #071952;
}

li a:link {
    color: white;
}

li a:visited {
    color: rgb(0, 0, 0);
}

li a:hover {
    color: #37b7c3b6;
}

li a:active {
    color: black;
}

#backToTop {
    margin-left: 40%;
}

.wholeContent {
    margin: 0 50px;
    text-align: justify;
}

.innovative {
    font-size: 40px;
    text-align: center;
}

.intro .heading {
    font-size: 25px;
}

.intro {
    background-color: #37b7c3b6;
    border-radius: 10px;
    padding: 5px 30px;
    width: 70%;
    margin-left: 2%;
    color: #071952;
    margin-top: 50px;
}

.contentOne, .contentThree {
    background-color: #071952;
    border-radius: 10px;
    padding: 5px 30px;
    width: 70%;
    margin-left: 23%;
    color: #37b7c3b6;
}

.oneABC, .twoABC, .threeABC {
    margin: 0 0 0 60px;
}

.contentTwo {
    background-color: #37b7c3b6;
    border-radius: 10px;
    padding: 5px 30px;
    width: 70%;
    margin-left: 2%;
    color: #071952;
}

.conclusion {
    background-color: #37b7c3b6;
    border-radius: 10px;
    padding: 5px 30px;
    margin-bottom: 50px;
    margin-left: 2%;
    color: #071952;
    width: 70%;
}