body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: black;
    text-align: center;
    background-color: #37b7c3d2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    width: 50%;
    margin-left: 24.4%;
}

/*Styles applied for profile infomation*/
.proInfo {
    text-align: center;
    color: #000000;
}

#profileInformation {
    margin: 20px auto;
    background-color: #37b7c382;
    width: 90%;
    max-width: 750px;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 20px;
    padding: 10px;
}

/*Styles applied for profile status*/
.profileStatus {
    font-size: 1.5em;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
    background-color: #37b7c382;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
    margin-left: 5px;
}

/*Styles applied for custom prompt box*/
#customPrompt {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 5%;
    background-color:#222c2dfe;
    border: 1px inset black;
    transform: translate(-50%, -50%);
}

.promptHead {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#step{
    font-size: 13px;
}

.promptBody {
    padding: 20px;
}

#message {
    margin-bottom: 20px;
}

#question {
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
}

#answer {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.promptFoot {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.start button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: #071952;
    color: white;
}
.start button:hover{
    color: #37b7c3d2;
}

.promptFoot button {
    margin: 5px 5px;
    padding: 10px 20px;
    border: solid #37b7c3;
    border-radius: 20px;
    background-color: #071952;
    color: #fff;
    cursor: pointer;
}

.promptFoot button:hover {
    background-color: #444;
}

#customPrompt.show {
    display: block;
}

/*Added to make page responsive*/
@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .profileStatus {
        font-size: 1.2em;
        padding: 5px 10px;
    }

    #customPrompt {
        width: 95%;
        max-width: 350px;
    }
}
