.design {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

.heading {
  text-align: center; /* Centers the  align text */
  font-size: 25px; /* Font size of heading  */
  font-weight: bold; /* Bold text */
  position: absolute; /* Positioned absolutely */
  top: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  transition: color 0.3s ease; /* Smooth color transition */
}

.sitemap {
  width: 100%; /* Full width for sitemap */
  height: auto; 
  margin-top: 50px; 
  transition: transform 0.3s ease; /* Smooth transform transition */
}

.nodes {
  fill: #088395; /* Fill color for SVG elements with the give color  */
  stroke: #088395; /*color */
  stroke-width: 2px; 
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EBF4F6; /* Background color of body  */
}

.hero-content {
  background: #071952; 
  padding: 20px; 
  color: #ebf4f6; 
  position: sticky; 
  top: 0; 
  z-index: 101; 
}
